#preloader{
    
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: $white;
    
    
    display: grid;
    align-self:center;
}

// .preload-group{
//     size: 50%;
// }

// #newpath{
//     visibility: hidden;
// }

#thetype{
    stroke-width: 1px;
    height: 100vh;
    stroke: black;
    visibility: hidden;
}

.splash{
    visibility: hidden;
}


.arcs{
    visibility: hidden;
}

.cone{
    visibility: hidden;
}

.cone10{
    visibility: hidden;   
}

.vanilla{
    visibility: hidden;
}

.choc{
    visibility: hidden;
}

.stack{
    visibility: hidden;
    z-index: 500;
}

.straw{
    visibility: hidden;
}

.cher{
    visibility: hidden;
}

.done{
    visibility:hidden;
}

// #motionpather{
//     visibility: hidden;
// }