/* =============
    Header
============= */

#header {
    // display: grid;
    // grid-template-columns: 16px auto 16px;
    // grid-template-areas: ". header .";
    background-color: $white;
    
    
    #navigation {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". burgie ."
        ". headline .";

        #burger_container{
            grid-area: burgie;
            display: flex;
            justify-content: flex-end;
            
            >svg{
                
                @include sm{
                    height: 10%;
                    width: 15%;
                }
                
                width: 0;
                padding-top: 7px;
                // margin-right:-20px;
                height: 7%;
                position: absolute;
                z-index: 200;
                
                
            }

        }

        //navigation buttons
        #nav-container{
            color: $white;
            background-color: $bg-blue;
            grid-area: burgie;
            text-align: center;
            width: 100%;
            height: 100%;
            justify-content: center;
            position: absolute;
            z-index: 1;

            @include md {
                        grid-area: burgie;
                        display: block !important;
                        background-color: $bg-blue;
                        color: $white;
                        font-family: 'Raleway', sans-serif;
                        font-weight: 700;
                        font-size: rem-calc(20);
                        margin-top: -20px;
                        padding-bottom: 20px;
                        // padding: 20px;
                        
                        >ul {
                            display: flex;
                            justify-content: space-evenly;
                        }
                    }

        //    @include lg{
        //        grid-area: headline;
        //        z-index: 10000;
        //    }
            
        }

        #title_banner{
            grid-area: headline;
            text-align: center;          

            >h1{
                font-weight: 300;
                font-size: rem-calc(80);
                
            }

            span{
                font-weight: 700;
                color: $italy-red;
            }

            >form{
                // grid-area: title;
                padding-bottom: 40px;
                margin-top: -20px;
            }
        }
    

        // everything below works only in medium size
        // for reference use only

        @include md{
            display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". burger ."
            ". nav .";

            @include md{
                grid-template-columns: 100%;
                grid-template-areas: "nav";
                
            }

        #burger_container {
            // grid-area: burger;
            // position:absolute;
            // >svg{
            //     // height: 10%;
                
            // }
            // font-size: rem-calc(60);
            // color: $bg-blue;
            // margin-bottom: -60px;
            
                
            @include md {
                // position:absolute;
                margin-top:-280px;
                >svg{
                    grid-area: nav;
                    height: 20%;
                    width: 20%;
                }
            }
        }

        // #nav-container {
        //     // grid-area: nav;
        //     // display: none;
        //     // margin-top: 60px;
        //     // background-color: $bg-blue;
        //     // font-family: 'Raleway', sans-serif;
        //     // font-weight: 700;
        //     // padding: 20px;
        //     // margin-bottom: 10px;
            

        //     ul {
        //         height: 100%;
        //         li {

        //             padding: 9px 0px;
        //             a:link,
        //             a:visited {
        //                 color: $white;
        //                 padding: 0px 0px;
        //                 text-decoration: none;
        //                 transition: 0.25s;
        
        //                 @include lg {
        //                     color: $white;
        //                 }
        
        //                 &:hover,
        //                 &:active {
        //                     color: $italy-red;
        //                 }
        //             }
        //         }
        //     }

        //     @include md {
        //         display: block !important;
        //         background-color: $bg-blue;
        //         color: $white;
        //         font-family: 'Raleway', sans-serif;
        //         font-weight: 700;
        //         font-size: rem-calc(20);
        //         padding: 20px;
                
        //         >ul {
        //             display: flex;
        //             justify-content: space-evenly;
        //         }
        //     }
        // }
        
        #title_banner {
            display: grid;
            grid-area: unset;
            align-self: center;

            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". title ."
            ". lang .";
            >h1{
                align-self: center;
                order: 2;
                // grid-area: title;
                font-weight: 300;
                font-size: rem-calc(50);
            }

            span{
                font-weight: 700;
                color: $italy-red;
            }

            >form{
                // grid-area: title;
                align-self: center;
                margin-top: -20px;
                padding-bottom: 0px;
            }

        
        @include md{
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            >h1 {
                align-self: center;
                order: 2;
                grid-area: header;
                font-weight: 300;
                font-size: rem-calc(50);

                @include md {
                    font-size: rem-calc(100)
                }

                >span {
                    font-weight: 700;
                    color: $italy-red;
                }

                >form {

                    order: 1;
                }
            }

            @include md {

                align-items: center;

                padding-bottom: 32px;

                h1 {
                    order: 1;
                }

                >form {
                    order: 2;
                }

            }



        }
    }
        
        }
        
    }

    
}